.side-bar-header {
    width: 70px;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 60px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(240, 229, 229);
    background-color: white;

    z-index: 200;

    padding-top: 10px;
}
.sidebar-options {
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sidebar-options:hover {
    background-color: lightgrey;
}
.sidebar-options img {
    height: 26px;
    margin-bottom: 5px;
}
.sidebar-options div {
    font-family: Roboto, Arial;
    font-size: 10px;
}

